main {
  margin: 0 auto 6rem auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

#plano-fundo {
  height: 200px;
  width: 100%;
  display: grid;
  place-content: center;
  background: rgb(0, 0, 0);
  background-image: url('https://images.unsplash.com/photo-1471193945509-9ad0617afabf?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  mix-blend-mode: multiply;
  opacity: 0.5;
  position: relative;
  top: 4.2rem;
  margin-bottom: 6rem;
}

#header-container {
  position: relative;
}

#titulo-pagina {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.274);
  text-align: left;
  color: black;
}

#search-bar-container {
  width: 80%;
  margin: 6rem auto 2rem auto;
  position: relative;
}

.search-bar {
  height: 50px;
  width: 100%;
  border-radius: 4px;
  border: none;
  border: 1px solid rgba(128, 128, 128, 0.281);
  padding: 1rem;
  background: #ececec;
  font-size: 18px;
  margin: 0.5rem 0 2rem 0;
}

#search-bar-container p {
  color: black;
  font-size: 1rem;
}

#search-icon {
  opacity: 0.5;
  height: 20px;
  position: absolute;
  top: 47%;
  right: 1%;
  transform: translate(-50%, -50%);
}

#posts-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  row-gap: 4rem;
  column-gap: 4rem;
}

.post-card {
  height: 630px;
  margin: 0 auto;
  background: #059954;
  border-radius: 20px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.199);
  flex: 1 1 370px;
}

.post-img {
  height: 40%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0px 0px;
}

.post-img.salada {
  background-image: url('https://images.elle.com.br/2022/12/avec_salada-grega-620x413.jpg');
}

.post-img.suco {
  background-image: url('https://s2-oglobo.glbimg.com/YyUC_KRFzV2nRNd8OVaN2O6iBuo=/0x0:5257x3505/888x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_da025474c0c44edd99332dddb09cabe8/internal_photos/bs/2023/o/M/S3B6yZQYOrjtTTBNEMLQ/copo-de-suco-de-laranja-e-uma-pessoa-espremendo-uma-laranja-nele.jpg');
}

.post-img.acai {
  background-image: url('https://www.nutribesa.com.br/images/receitas/acai.jpg');
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
  background-size: cover;
  background-position: cover;
}

.container-info {
  padding: 1rem 2rem;
}

.post-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.post-data {
  margin-bottom: 1.5rem;
}

.post-details {
  letter-spacing: 2px;
}
/* 
.post-card:last-child {
  width: 97%;
  height: 600px;
} */

@media (max-width: 640px) {
  #posts-container {
    width: 95%;
  }

  .container-info {
    padding: 1rem;
  }

  .post-card {
    height: 650px;
  }

  #search-bar-container {
    width: 95%;
  }

  #plano-fundo {
    top: 0;
  }

  #titulo-pagina {
    top: 50%;
  }

  #search-bar-container {
    margin: 2rem auto 2rem auto;
    position: relative;
  }

  #plano-fundo {
    margin-bottom: 1rem;
  }
}
