.banner-container {
  height: 350px;

  background-image: url('https://images.unsplash.com/photo-1488459716781-31db52582fe9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
}

.funcionamento-container {
  background: #059954;
  margin-bottom: 120px;
  padding: 6rem 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.funcionamento-container h2 {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 2px;
}

.funcionamento-container p:not(:first-child) {
  margin-top: 2rem;
}

.funcionamento-container p {
  opacity: 0.7;
}

.planos-container .cards-container {
  width: 80vw;
  margin: 0 auto 120px auto;
  display: flex;
  justify-content: space-around;
}

.planos-container h2 {
  font-size: 3rem;
  color: #059954;
  text-align: center;
  margin-bottom: 6rem;
  letter-spacing: 2px;
  /*   font-size: 80px; */
}

.card-plano {
  width: 305px;
  height: 470px;
  border: 1px solid #0599548a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  row-gap: 2rem;
  color: #059954;
  font-size: 1.2rem;
  border-radius: 25px;
  box-shadow: 3px 5px 4px #0599541c;
  transition: all 0.5s;
}

.card-plano:hover {
  transform: scale(1.1);
  box-shadow: 9px 15px 6px #05995413;
}

.card-plano li span {
  font-weight: 600;
}

.card-title {
  font-size: 1.5rem;
}

.card-icon {
  height: 150px;
}

.card-button {
  width: 220px;
  height: 40px;
  letter-spacing: 1px;
  color: #f25c05;
  font-weight: 700;
  background: none;
  border: 1px solid #f25c05;
  border-radius: 4px;
  transition: all 0.5s;
}

.card-button:hover {
  background: #f25c05;
  color: white;
  cursor: pointer;
}

.perfil-image {
  height: 60px;
  object-fit: cover;
  position: relative;
  background: #f25c05;
  border-radius: 50%;
}

#reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
  max-width: 600px;
  margin: 4rem auto;
}

#reviews-container h2 {
  color: #059954;
  font-size: 2.25rem;
  text-align: center;
}

.review-card {
  display: flex;
  align-items: flex-start;
  column-gap: 2rem;
}

.review-container {
  background: #059954;
  padding: 2rem 4rem;
  border-radius: 20px;
}

.review-container > *:first-child {
  margin-bottom: 1rem;
}

@media (max-width: 1340px) {
  .planos-container .cards-container {
    width: 90vw;
  }
}
@media (max-width: 1100px) {
  .planos-container .cards-container {
    width: 95vw;
  }
}

@media (max-width: 1000px) {
  .planos-container .cards-container {
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
  }

  .funcionamento-container {
    padding: 4rem 10%;
    /*     text-align: center; */
  }

  .funcionamento-container h2 {
    font-size: 2rem;
  }
}

@media (max-width: 640px) {
  .card-button:hover {
    background: none;
    color: #f25c05;
    cursor: pointer;
  }

  .card-plano:hover {
    transform: scale(1);
    box-shadow: 3px 5px 4px #0599541c;
  }

  .review-card {
    flex-direction: column;
    align-items: center;
    width: 330px;
    row-gap: 2rem;
  }

  .review-container {
    padding: 2rem 1rem;
  }

  #reviews-container h2 {
    font-size: 1.75rem;
  }
}
