:root{
    --tam-fonte: 1.25rem;
}
.roboto_condensed_bold{
    
    color: var(--titulo,  #FFF);
    font-family: 'Roboto Condensed';
    font-size: var(--tam-fonte);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/* roboto_condensed_light */
::placeholder{
    color: var(--subtitulo, #DFDFDF);
    font-family: 'Roboto Condensed';
    font-size: var(--tam-fonte);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
body {
    font-size: var(--tam-fonte);
    background-image: url('../img/Desktop\ -\ 1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    width: 99%;
}
main{
    margin: 3% 0% 1% 18%;
    width: 65%;
    height: fit-content;
    padding-left: 1%;
    padding-top: 1%;
    flex-shrink: 0;
    border-radius: 0.5rem;
    background: var(--cor-primaria, #059954);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#logo{
    width: 20.5625rem;
    height: 6.6875rem;
}
#voltar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;

}
#divisao{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2% 8% 1% 8%;
    justify-content: space-evenly;
}
.inputcadastro{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 99%;
    border-bottom: solid 0.14rem white;
    border-radius: 0%;
    padding: 3.5%;
}
.padding{
    padding: 2%;
}
.margemup{
    margin-top: 8%;
}
.button{
    border-radius: 1.875rem;
    background: var(--nfase, #F25C05);
    box-shadow: 1px 1px 25px 1px rgba(0, 0, 0, 0.368) inset;
    width: 50%;
    height: 3.075rem;
    margin: 1% 24% 5% 24%;

    color: var(--titulo,  #FFF);
    font-family: 'Roboto Condensed';
    font-size: var(--tam-fonte);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.bloco{
    /* border: solid black 1px; */
    width: 18.25rem;
    height: 19.75rem;
}
.linha{
    width: 0.0625rem;
    height:19.75rem;
    background-color:rgb(255, 255, 255);
    border:none;
    margin-top: 0;
    opacity: 1.00;
}